{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block content  %}

<div class="mt-2 pl-3">    
    <form method="post">
        {% csrf_token %}
        <h3>Tem certeza que deseja deletar o cliente "{{ object }}"?</h3>
        <br>
        {% buttons %}
            <button type="submit" class="btn btn-danger">Confirmar</button>
            <button type="button" class="btn btn-warning">
                <a href="{% url 'lst_cliente' %}">Cancelar</a>
            </button>
        {% endbuttons %}
    </form>
</div>

{% endblock %}
