{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class="container"> 
    <div class="row justify-content-center align-items-center vh-100">
        <div class="col-4">
        <h1 class="display-4 pl-4 ml-4">Fornecedores</h1>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-success">Salvar</button>
                        <button type="button" class="btn btn-warning">
                            <a href="{% url 'lst_fornecedor' %}">Cancelar</a>
                        </button>
                    {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock %}